body {
    background: #e8c8e8 !important;
    color: #770f77 !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
a {
    color: #5e5662 !important;
}
button {
    background: #4a085d !important;
    border-color: #1e0226 !important;
}
